<div class="transactions-list-container">
  <mat-progress-bar mode="indeterminate" [ngClass]="{'hidden':!busy}"></mat-progress-bar>
  <div class="add-button-container">
    <button mat-button (click)="createIncome()" class="expense-button"> <span><i class="fas fa-plus"></i> Expense</span></button>
    <button mat-button (click)="createExpense()" class="income-button"> <span><i class="fas fa-plus"></i> Income</span></button>
    <button mat-button (click)="createTransfer()" class="transfer-button"> <span><i class="fas fa-plus"></i> Transfer</span></button>
  </div>
  <table mat-table matSort [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="transactionTypeTitle">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionTypeTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="accountTitle">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Account </th>
      <td mat-cell *matCellDef="let element"> {{element.accountTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date|date:'dd-MMM-yyyy hh:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="transactionCategoryTitle">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionCategoryTitle}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
