<h1 mat-dialog-title>Create a new account</h1>
<div mat-dialog-content>
  <form class="form">
    <mat-form-field >
      <input matInput type="text" name="title" [(ngModel)]="title" placeholder="Account name">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Account type</mat-label>
      <mat-select [(value)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{type.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial color="primary">Save</button>
</mat-dialog-actions>
