@import 'common';
@import 'material';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
  height: 100%;
  color:$font-color
}
body{
  display: flex;
  margin: 0;
}
app-root{
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
app-login {
//  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden{
  visibility: hidden;
}
.error{
  color: #98000c;
}

app-sidebar{
  display: flex;
}
app-accounts,app-home{
  flex-grow: 1;
  display: flex;
}
.fas{
  color:$font-color;
}
.fill{
  flex-grow: 1;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.owl-dt-calendar-cell-content.owl-dt-calendar-cell-today.owl-dt-calendar-cell-selected,
.owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected{
  background-color: $primary-color;
}

.owl-dt-control-content.owl-dt-control-button-content {
  color: $primary-color;
}
.create-transaction{
  mat-dialog-container{
    border-top: 4px solid;
    h1{
      color:$font-color;
    }
  }
}
.create-transaction-income{
  mat-dialog-container{
    border-top-color: $income-color;
  }
}
.create-transaction-expense{
  mat-dialog-container{
    border-top-color: $expense-color;
  }
}
.create-transaction-transfer{
  mat-dialog-container{
    border-top-color: $transfer-color;
  }
}
