@import 'common';
@import 'material';

html, body {
  height: 100%;
  color:$font-color
}
body{
  display: flex;
  margin: 0;
}
app-root{
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
app-login {
//  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden{
  visibility: hidden;
}
.error{
  color: #98000c;
}

app-sidebar{
  display: flex;
}
app-accounts{
  flex-grow: 1;
  display: flex;
}
.fas{
  color:$font-color;
}
.fill{
  flex-grow: 1;
}
